/* Source: https://codepen.io/milesmanners/pen/QEQPjw
Full Page Horizontal Accordion 
A Pen by Miles Manners
*/

tbody {color: #000000;}


@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #98a2c7;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.table {
    width: 90% !important;
}

.container {
    width: 90% !important;
}

table.dataTable.no-footer {
    border-bottom: 0;
}

/* LIST */
ul {
  list-style: none;
}

/* FORM */
.tab {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.lab {
  display: block;
  float: left;
  height: 100vh;
  width: 40px;
  overflow: hidden;
  background: #30354a;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
  transition: background 300ms ease;
}

li:nth-child(even) > .tab + .lab {
  background: #3a4059;
}

.lab:hover,
li:nth-child(even) > .tab + .lab:hover {
  background: #7e9aff;
  color: #fff;
  cursor: pointer;
}

.tab[type="radio"]:checked ~ .lab {
  background: #7e9aff;
  color: #fff;
  cursor: default !important;
}

/* SLIDES */
.accslide {
  display: block;
  height: 100%;
  width: 0px;
  padding: 10px 0;
  float: left;
  overflow-x: hidden;
  font-sizes: 12px;
  line-height: 1.5;
  transition: all 700ms ease;
}
.accslide * {
  padding-left: 10px;
}
.accslide img {
  margin-top: 10px;
}

.tab[type="radio"]:not(:checked) ~ .lab > * {
  padding-left: 7px;
  font-size: 1.2em;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.tab[type="radio"]:checked ~ .lab > * {
  display: none;
}

li:nth-child(1):nth-last-child(2)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 80px);
}

li:nth-child(2):nth-last-child(1)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 80px);
}

li:nth-child(1):nth-last-child(3)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 120px);
}

li:nth-child(2):nth-last-child(2)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 120px);
}

li:nth-child(3):nth-last-child(1)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 120px);
}

li:nth-child(1):nth-last-child(4)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 160px);
}

li:nth-child(2):nth-last-child(3)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 160px);
}

li:nth-child(3):nth-last-child(2)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 160px);
}

li:nth-child(4):nth-last-child(1)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 160px);
}

li:nth-child(1):nth-last-child(5)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 200px);
}

li:nth-child(2):nth-last-child(4)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 200px);
}

li:nth-child(3):nth-last-child(3)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 200px);
}

li:nth-child(4):nth-last-child(2)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 200px);
}

li:nth-child(5):nth-last-child(1)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 200px);
}

li:nth-child(1):nth-last-child(6)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 240px);
}

li:nth-child(2):nth-last-child(5)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 240px);
}

li:nth-child(3):nth-last-child(4)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 240px);
}

li:nth-child(4):nth-last-child(3)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 240px);
}

li:nth-child(5):nth-last-child(2)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 240px);
}

li:nth-child(6):nth-last-child(1)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 240px);
}

li:nth-child(1):nth-last-child(7)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 280px);
}

li:nth-child(2):nth-last-child(6)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 280px);
}

li:nth-child(3):nth-last-child(5)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 280px);
}

li:nth-child(4):nth-last-child(4)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 280px);
}

li:nth-child(5):nth-last-child(3)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 280px);
}

li:nth-child(6):nth-last-child(2)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 280px);
}

li:nth-child(7):nth-last-child(1)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 280px);
}

li:nth-child(1):nth-last-child(8)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 320px);
}

li:nth-child(2):nth-last-child(7)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 320px);
}

li:nth-child(3):nth-last-child(6)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 320px);
}

li:nth-child(4):nth-last-child(5)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 320px);
}

li:nth-child(5):nth-last-child(4)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 320px);
}

li:nth-child(6):nth-last-child(3)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 320px);
}

li:nth-child(7):nth-last-child(2)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 320px);
}

li:nth-child(8):nth-last-child(1)
.tab[type="radio"]:checked
~ .accslide {
  width: calc(100% - 320px);
}
